 <div class="user-details">
  <h1> ¿Quien soy? </h1>
  <p style="text-align: justify;"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Hacking</h2>
      <img src="">
      <p>Actualmente me encuentro en proceso de aprendizaje mas que nada. Mis plataformas 
      para  practicar esto son HackTheBox y TryHackMe. Si todo va bien de aqui a fin de 
      año, espero el 2022 poder rendir el eJPT y preparar, a su vez, el OSCP. </p>
    </div>
    <div class="tech">
      <h2>Programacion</h2>
      <img src="">
      <p>Manejo un poco de estas tecnologias de programacion: Python, JavaScript, C++, PHP, HTML y CSS.</p>
    </div>
    <div class="tech">
      <h2>GNU/Linux</h2>
      <img src="">
      <p>Mi mejor habilidad hasta ahora, es manejar y administrar sistemas operativos GNU/Linux. Los 
      puedo configurar, autmatizar tareas, procurar de que esten correctamente securizados, etc.</p>
    </div>
</div>
