<div class="user-details">
  <h1> Proyectos a Futuro </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/elearnSecurity.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Aprobar el eJPT </h3>
    <ul>
      <li> eLearnSecurity Junior Penetration Tester</li>
    </ul>
    <p>Uno de los motivos por los que quiero rendir esta certificacion es porque se supone que es para "iniciantes" en el campo. Pero mi motivacion principal radica en ganar terreno y estar mejor preparado para la hora en la que rinda el OSCP.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/oscp.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Preparar el OSCP </h3>
    <ul>
      <li> Offensive Security Certified Professional </li>
    </ul>
    <p>Es una de las certificaciones mas valoradas en el mundo de la ciberseguridad a nivel internacional. Lo que se dice es que no es una certificacion facil de aprobar, por lo cual es todo un reto para mi, por eso mismo de aqui al dia en el que la rinda dare todo de mi por aprender de este mundo.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
